section{
    .links{
        a{
            width: 100%;
            padding: 16px 24px;
            border-radius: 0;
            border: 0;
            background-color: orange;
            &:.new{
                &::after{
                    content: "NOVITÀ";
                }
            }
        }
    }
}